@import "compass";
@import "compass/reset";
@import "coderay.css.scss";

body {
	font:14px arial;
	background:#333;
	#main {

		width:750px;
		margin:50px auto;
		padding:25px;
		@include legacy-pie-clearfix();
		background:#FFF;

		h1 {
		font-size:300%;
		margin:0 0 25px;
		}
	}
}

@import 'jquery.carousel.css.scss';