@import "compass";
@import "compass/reset";
@import "coderay.css.scss";

body {
	font:14px arial;
	background:#333;
	#main {

		width:800px;
		margin:50px auto;
		@include legacy-pie-clearfix();
		background:#FFF;

		h1 {
		font-size:300%;
		margin:0 0 25px;
		}
	}
}

.carousel {
	@include legacy-pie-clearfix();
	
	margin:25px;
	color:white;

	.article {
		height:100px;
		width:400px;

		p {
		}
	}

}
.control-panel {

	.prev-container {
		position:absolute;
		top:0px;
		left:0;
		
		.prev {
			font-size:14px;
			color:black;

			&:hover {
				cursor:pointer;	
			}	
		}
	}
	.next, .prev {
	
		&.disabled {
			display:none;
		}
	}
	.next-container {
		position:absolute;
		top:0px;
		left:40px;
	
		.next {
			font-size:14px;
			color:black;

			&:hover {
				cursor:pointer;	
			}
		}
	}

	.controls {
		padding:0;
		margin:0;
		font-size:14px;
		background:black;
		position:absolute;
		top:0px;
		right:0;
	
		.control {
			 list-style:none;
			 float:left;

			&:hover {
				cursor:pointer;	
			}

			&.active {

				 span {
				   color:white; 
				 }

			}
		
			span {
				color:grey;
				padding:5px;
			}
		}
	}
}

#content-1 {
	padding-top:20px;
}
// #content-2, #content-3 {
// 	@extend #content;
// }

@import 'jquery.carousel.css.scss';