<h1>Jquery Carousel</h1>

<div id="content-1" class="carousel section">
  <% 10.times do |i| %>
    <div style="background:<%= data.slides.colors[i] %>;" class="article">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  <% end %>
</div>
